## Velocity Template.
<html>
    <body>
        Saludos
        <br/><br/>
        En el siguiente link, podrá recuperar su contraseña
        <br/><br/>
        <a href="$link">$link</a>
        <br/><br/>
        Administrador del Sistema
        <br/>
        <img src="http://www.eldividendo.com/wp-content/uploads/2015/10/diageo-logo.jpg" style="width:9%"/>
    </body>
</html>
